body {
    font-family: Arial, sans-serif;

   
    background-image: url("fn.jpeg"); 
    
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
  background: #fff8f0;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  background-image: url("img.jpeg");
}

h1 {
  color: #6b4b3b;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 22px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #d8c3a5;
  margin-bottom: 20px;
  background: #fdf6ee;
  color: #5a3e36;
}

.select-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6b4f45;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d8c3a5;
  background: #fdf6ee;
  color: #5a3e36;
  font-size: 14px;
}

select:focus, input:focus {
  outline: none;
  border-color: #c6a88f;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #7ac9ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2d78e1;
}